* {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.indent {
  text-indent: 50px;
}

body {
  font-size: 18px;
  margin: auto;
}

.content {
  margin: auto;
  width: 70%;
}

.subheading {
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: bold;
}

.break {
  padding-top: 10px;
}

.banner {
  text-align: center;
  font-size: clamp(18px, 4vw, 26px);
  font-weight: bold;
  background-color: #444444;
  color: white;
  padding: 20px;
  margin: auto;
}

.content-main {
  text-align: center;
  padding: 20px;
  margin: 0px;
  font-size: 24px;
}

.content-items {
  display: block;
  color: black;
  padding: 20px;
}

ul {
  margin: 0px;
}


.navbar a {
  text-decoration: none;
  color: #ffffff;
  transition: color 0.3s ease-in-out;
}

.navbar a:hover {
  color: rgb(0, 0, 0);
}

.content-items:hover {
  color: #409cff;
}

.nav-forward {
  color: #ffffff;
  background-color: #708090;
  padding: 10px 20px;
  border-radius: 8px;
}

.nav-container {
  display: flex;
  justify-content: end;
  padding: 20px;
}

footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #444444;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  margin-top: 10px;
  font-size: 14px;
}

.return {
  color: black;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #708090;
  padding: 10px;
  gap: 10px;
}

.navbar a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 5px 10px;
  text-align: center;
  min-width: 80px;
  transition: color 0.3s ease-in-out;
}

.navbar a:hover {
  color: black;
}

.answer {
  display: none;
}

button {
  font-size: 20px;
  color: #ffffff;
  background-color: #708090;
  padding: 10px 20px;
  border-radius: 8px;
}

.backforward {
  display: inline-block;
  text-decoration: none;
}

.nav-end {
  display: flex;
  justify-content: space-between;
}