* {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

span {
  display: block;
}

.indent {
  text-indent: 50px;
}

body {
  font-size: 18px;
}

.content {
  margin: auto;
  width: 70%;
}

.subheading {
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: bold;
}

.break {
  padding-top: 10px;
  padding-bottom: 10px;
}